.input-wrapper {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 7px 25px 0px rgba(100, 100, 111, 0.2);
  padding: 1.9rem 3.6rem;
  margin-bottom: 2rem;
}

.query {
  font-family: "Fira Sans";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: left;
  color: rgba(101, 110, 194, 1);
  border: none;
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: rgba(101, 110, 194, 1);
    opacity: 1;
  }
}