.count {
  margin: 0;
  margin-left: 3.6rem;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.95rem;
  text-align: left;
  margin-bottom: 6rem;
  color: rgba(40, 38, 38, 1);
}